.App {
  text-align: left;
}

.banner {
  height: 10vmin;
  pointer-events: none;
  margin-left: 5px;
}

.banner-container {
  width: 100%;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #153b46;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

li {
  list-style: none;
}

ul {
  padding-left: 0px;
}

.driver-list {
  border-color: black;
  border-width: 1px;
  border-style: solid;
  padding-left: 5px;
  padding-right: 25px;
  padding-bottom: 25px;
  padding-top: 5px;
  width: max-content;
  margin-left: 5px;
  display: inline-block;
}

.driver-list-item {
  margin-bottom: 3px;
}

.list-text-container {
  border-width: 1px;
  border-style: solid;
  border-color: black;
  margin-bottom: 2px;
  margin-right: 6px;
  display: inline-block;
  width: 300px;
  padding: 3px;
  height: max-content;
  font-size: x-large;
}

.checkbox-container {
  display: inline-block;
  padding-left: 0px;
  vertical-align: top;
}

.checkbox {
  height: 38px;
  width: 38px;
  display: inline-block;
  border-style: solid;
  border-color: black;
  border-width: 1px;
  margin-right: 3px
}

.checkbox.checked {
  background-color: green;
}

.day-header {
  padding-left: 942px;
}

.day-header li {
  display: inline-block;
  font-size: small;
  text-align: center;
  width: 40px;
  margin-right: 3px;
}

.nav-menu {
  border-style: solid;
  border-color: black;
  border-width: 1px;
  width: 125px;
  padding-left: 5px;
  padding-bottom: 25px;
  text-align: center;
}

.nav-menu li {
  margin-top: 15px;
  font-size: large;
}

.app-layout {
  display: inline-flex;
  padding-left: 5px;
}

.holding-page {
  padding-left: 5px;
  padding-right: 25px;
  padding-bottom: 25px;
  margin-left: 5px;
  margin-top: 0px;
  display: inline-block;
}

.activity-box {
  max-width: max-content;
}

.activity-box-main {
  max-height: 43px;
}

.activity-box-container {
  max-width: min-content;
  overflow: hidden;
  display: inline-grid;
}

.chevron {
  position: relative;
  left: 90%;
  bottom: 30px;
}